
.main {
    margin: 0px auto;
    max-width: 1200px;
    height: 100vh;
    background: #444;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    color: #fff;
}
.box {
    display: inline-flex;
    justify-content: space-around;
    color: #000;
}
.btn {
    margin: 20px;
    padding: 10px;
    font-size: 20px;
}
.result {
    min-width: 60vw;
    margin-top: 0;
    padding-top: 0;
    display: inline-flex;
    justify-content: space-between;
    color: #fff;

}
.capitals, .population {
  margin-top: 22px;
}
